

<h1>About</h1>
<p>
   	Our recommendation engine is a unique "Engagement meter" for places and sites, measuring the impact real world places have on the general public by 	analyzing social gestures such as Check-ins, Likes, Instags', #tags, etc.
 </p>
 <p>
	We offer our worldwide insights via API, while interacting with the end user via our own mobile app, demonstrating some of the capabilities. 
	
</p>

